  #wrap{
    width: 1900px;
    
  }

#wrap > header {
  position: relative;
  background-image: url(./../images/bg_header.gif);
}

#wrap > header > .bg_lnb {
  display: none;
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: 226px;
  background-image: url(./../images/bg_gnb_sub_menu02.gif);
  border-top: 3px solid green;
  border-bottom: 1px solid green;
}

#wrap > header > .bg_lnb > a {
  display: block;
  position: absolute;
  left: 50%;
  top: 20px;
  width: 155px;
  height: 138px;
  margin-left: -500px;
  text-indent: -9999px;
  background-image: url(./../images/item.png);
}

#wrap > header > .container {
  position: relative;
  width: 980px;
  height: 100px;
  margin: 0 auto;
}

#wrap > header > .container > h1.logo {
  position: absolute;
  left: 0;
  top: 18px;
  width: 127px;
  background-image: url(./../images/logo.png);
}

#wrap > header > .container > h1.logo > a {
  display: block;
  height: 69px;
  text-indent: -9999px;
}

#wrap > header > .container > .snb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: absolute;
  right: 0;
  top: 15px;
}

#wrap > header > .container > .snb > li {
  margin-right: 15px;
}

#wrap > header > .container > .snb > li:last-child {
  margin-right: 0;
}

#wrap > header > .container > .snb > li > a:hover {
  text-decoration: underline;
}

#wrap > header > .container > nav {
  position: absolute;
  right: 0;
  top: 60px;
}

#wrap > header > .container > nav > .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 710px;
}

#wrap > header > .container > nav > .gnb > li {
  background-position: 10px 0;
  background-repeat: no-repeat;
}

#wrap > header > .container > nav > .gnb > li:nth-child(1) {
  width: 128px;
  background-image: url(./../images/gnb_menu01.png);
  background-position-x: center;
}

#wrap > header > .container > nav > .gnb > li:nth-child(1):hover {
  background-image: url(./../images/gnb_menu01_on.png);
}

#wrap > header > .container > nav > .gnb > li:nth-child(2) {
  width: 100px;
  background-image: url(./../images/gnb_menu02.png);
}

#wrap > header > .container > nav > .gnb > li:nth-child(2):hover {
  background-image: url(./../images/gnb_menu02_on.png);
}

#wrap > header > .container > nav > .gnb > li:nth-child(3) {
  width: 173px;
  background-image: url(./../images/gnb_menu03.png);
}

#wrap > header > .container > nav > .gnb > li:nth-child(3):hover {
  background-image: url(./../images/gnb_menu03_on.png);
}

#wrap > header > .container > nav > .gnb > li:nth-child(4) {
  width: 105px;
  background-image: url(./../images/gnb_menu04.png);
}

#wrap > header > .container > nav > .gnb > li:nth-child(4):hover {
  background-image: url(./../images/gnb_menu04_on.png);
}

#wrap > header > .container > nav > .gnb > li:nth-child(5) {
  width: 110px;
  background-image: url(./../images/gnb_menu05.png);
}

#wrap > header > .container > nav > .gnb > li:nth-child(5):hover {
  background-image: url(./../images/gnb_menu05_on.png);
}

#wrap > header > .container > nav > .gnb > li:nth-child(6) {
  width: 84px;
  background-image: url(./../images/gnb_menu06.png);
}

#wrap > header > .container > nav > .gnb > li:nth-child(6):hover {
  background-image: url(./../images/gnb_menu06_on.png);
}

#wrap > header > .container > nav > .gnb > li:nth-child(6) > .lnb > li {
  width: 110px;
}

#wrap > header > .container > nav > .gnb > li > a {
  display: block;
  height: 34px;
  text-indent: -9999px;
}

#wrap > header > .container > nav > .gnb > li > .lnb {
  display: none;
  margin-top: 20px;
}

#wrap > header > .container > nav > .gnb > li > .lnb > li > a {
  display: block;
  height: 35px;
  line-height: 35px;
  text-indent: 10px;
}

#wrap > header > .container > nav > .gnb > li > .lnb > li > a:hover {
  color: #fff;
  background-color: #D31145;
}

section{
  position: relative;

}
 
section>h2{
 display: none;
}
  .slides {
     
      overflow: hidden;
      position: relative;
      width: 1900px;
      height: 550px;
      margin: 0 auto;
      border: 1px solid #000;
  }
  
   .slides > .slides-container {
      
   
       display: flex;
      flex-flow: row nowrap; 
  
      transition: all 0.4s ease-in-out;
  } 
  
  .slides > .slides-container > p {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      text-indent: -9999px;
      background-position: center center;
      background-size: cover;
      opacity: 0;
  
   
  }
  
  .slides > .slides-container > p.on{
      opacity: 1;
  }
  
  .slides > .slides-container > p.slide-1 {
      background-image: url(./../images/이미지016.jpg);
      z-index: -100;
      background-size: cover;
  }
  .slides > .slides-container > p.slide-2 {
      background-image: url(./../images/이미지020.jpg);
      z-index: -100;
      background-size: cover;
  }
  .slides > .slides-container > p.slide-3 {
      background-image: url(./../images/이미지026.jpg);
      z-index: -100;
      background-size: cover;
  }
  .slides > .slides-container > p.slide-4 {
      background-image: url(./../images/이미지029.jpg);
      z-index: -100;
      background-size: cover;
  }
  .slides > .slides-container > p.slide-5 {
      background-image: url(./../images/이미지032.png);
      z-index: -100;
      background-size: cover;
  }
  .slides > .slides-container > p.slide-6 {
      background-image: url(./../images/이미지034.jpg);
      z-index: -100;
      background-size: cover;
  }
  .slides > .slides-container > p.slide-7 {
      background-image: url(./../images/이미지038.jpg);
      z-index: -100;
      background-size: cover;
  }
  .slides > .slides-container > p.slide-8 {
      background-image: url(./../images/이미지040.jpg);
      z-index: -100;
      background-size: cover;
  }
  .slides > .slides-container > p.slide-9 {
      background-image: url(./../images/이미지044.jpg);
      z-index: -100;
      background-size: cover;
  }
  .slides > .slides-container > p.slide-10 {
      background-image: url(./../images/이미지045.png);
      z-index: -100;
      background-size: cover;
      
  }

.seventeen{
   display: none;
   z-index: 100;
}
.slides > .slides-pagination > li:nth-child(1):active+.seventeen{
   display: block;
} 

  
  .slides > .slides-container > p > a {
      display: block;
      height: 601px;
  }
  
  .slides > .slides-pagination {
      display: flex;
      position: absolute;
      
      top: 200px;
      margin-top: -150px;
     
  }
  
  .slides > .slides-pagination > li {
      width: 25px;
  }
  
   .slides > .slides-pagination > li:nth-child(1) {
      background-image: url(./../images/이미지015.png);
      background-repeat: no-repeat;
  }


  .slides > .slides-pagination > li:nth-child(2) {
      background-image: url(./../images/이미지015.png);
      background-repeat: no-repeat;
  }
  .slides > .slides-pagination > li:nth-child(3) {
      background-image: url(./../images/이미지015.png);
      background-repeat: no-repeat;
  }
  .slides > .slides-pagination > li:nth-child(4) {
      background-image: url(./../images/이미지015.png);
      background-repeat: no-repeat;
  }
  .slides > .slides-pagination > li:nth-child(5) {
      background-image: url(./../images/이미지015.png);
      background-repeat: no-repeat;
  } 
  .slides > .slides-pagination > li:nth-child(6) {
      background-image: url(./../images/이미지015.png);
      background-repeat: no-repeat;
  } 
  
  .slides > .slides-pagination > li:nth-child(7) {
      background-image: url(./../images/이미지015.png);
      background-repeat: no-repeat;
  } 
  
  .slides > .slides-pagination > li:nth-child(8) {
      background-image: url(./../images/이미지015.png);
      background-repeat: no-repeat;} 
  
  .slides > .slides-pagination > li:nth-child(9) {
      background-image: url(./../images/이미지015.png);
      background-repeat: no-repeat;
  } 
  
  .slides > .slides-pagination > li:nth-child(10) {
      background-image: url(./../images/이미지015.png);
      background-repeat: no-repeat;
  } 
  
  
  .slides > .slides-pagination > li > a {
      display: block;
      height: 60px;
      text-indent: -9999px;
  }
  
  .slides > .slides-pagination > li.on > a,
  .slides > .slides-pagination > li:hover > a {
      
      box-sizing: border-box;
  }
  
  /* 이전, 다음 */
  /* .slides > a {
      display: block;
      position: absolute;
      top: 50%;
      width: 80px;
      height: 100px;
      margin-top: -50px;
      text-indent: -9999px;
      background-image: url(./../images/btn_navigation.png);
  } */
  
  .slides > a.prev {
      left: 0;
      background-position: -5px -225px;
  }
  
  .slides > a.prev:hover {
      background-position: -5px -335px;
  }
  
  .slides > a.next {
      right: 0;
      background-position: -5px -5px;
  }
  
  .slides > a.next:hover {
      background-position: -5px -115px;
  }
  
  /* 자동재생 버튼 */
  .slides > .btn_auto {
      display: block;
      position: absolute;
      left: 255px;
      top: 50px;
      

      width: 20px;
      height: 18px;

      margin-left: -10px;
      text-indent: -9999px;
      background-image: url(./../images/이미지014.png);
      cursor: pointer;
  }
  
  .slides > .btn_auto.pause {
      background-image: url(./../images/이미지013.png);}
      


  
  /* section>h1{
      margin-top: 30px;
      margin-left: 100px;
      font-size: 32px;
      color: #000;
      font-weight: 800;
  } */
  /* section>h2{
      position: absolute;
      top: 925px;
      left: 1400px;
      border: 1px solid #000;
      border-radius: 20px;
      width: 150px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      color: #000;
      font-weight: 800;
  }
  section>h3{
      margin-top: 20px;
      margin-left: 100px;
      color: #000;
      font-weight: 800;
  }

  section>h4{
      font-size: 32px;
      color: #000;
 
      margin: 50px 0 50px 100px;
  } */

  section>p{
    color: #fff;
  
    text-indent: 400px;
    border-top: 1px dotted #000;
    background-color: #111;
    height: 40px;
    line-height: 40px;
    opacity: 0.9;
  }

  section>.one{
   
    background-image: url(./../images/bgi.png);
    height: 198px;
    width: 100%;
  }

  section>.one>h3{
    display: inline-block;
position: absolute;
left: 400px;

    font-size: 15px;
    color: #000;
    margin-top: 20px;
    border-bottom: 1px dotted gray;

  }

  section>.one>figure{}
  section>.one>.figureone>img{
    position: absolute;
    left: 400px;
  top: 650px;
  }
  section>.one>.figureone>figcaption{
    
    position: absolute;
    top: 650px;
    left: 490px;
  }

  section>.one>figure>figcaption>span{
    color: red;
  }


  section>.one>h3:nth-of-type(2){
    display: inline-block;
    position: absolute;
    left: 800px;
    font-size: 15px;
    color: #000;
    margin-top: 20px;
    border-bottom: 1px dotted gray;

  }

  section>.one>.figuretwo>img{
    position: absolute;
  top: 650px;
  left: 800px;
  }
  section>.one>.figuretwo>figcaption{
    
    position: absolute;
  top: 650px;
    left: 890px;
  }

  section>.one>figure>figcaption>span{
    color: red;
  }


  section>.one>h3:nth-of-type(3){
    display: inline-block;
    position: absolute;
    left: 1200px;
    font-size: 15px;
    color: #000;
    margin-top: 20px;
    border-bottom: 1px dotted gray;

  }

  section>.one>.figurethree>img{
    position: absolute;
  top: 650px;
  left: 1200px;
  }
  section>.one>.figurethree>figcaption{
    
    position: absolute;
  top: 700px;
    left: 1300px;
  }

  section>.one>figure>figcaption>span{
    color: red;
  }

  section>.two{
    background-image: url(./../images/bgitwo.png);
   height: 246px;
  }
  section>.two>h4:nth-of-type(1){  
    text-indent: -9999px;
    background-image: url(./../images/이미지092.png);
    background-repeat: no-repeat;
     position: relative;
    left: 400px;
  }
  section>.two>h4:before{
 
    background-image: url(./../images/이미지119.gif);
    width: 30px;
    height: 30px;
  }
 
  section>.two>p:nth-of-type(1){
    position: relative;
    left: 400px;
  }
  section>.two>p:nth-of-type(2){
    overflow-y : scroll;
    height: 150px;
    width: 400px;
    position: relative;
    left: 400px;
  }

  section>.two>h4:nth-of-type(2){
    text-indent: -9999px;
    background-image: url(./../images/이미지094.png);
    position: relative;
    background-repeat: no-repeat;
    bottom: 180px;
    left: 520px;
  }

  section>.two>p:nth-of-type(3){
   background-image: url(./../images/이미지096.gif);
   width: 400px;
   height: 155px;
   position: relative;
   bottom: 170px;
   left: 820px;
  }

  section>.two>h4:nth-of-type(3){
    background-image: url(./../images/이미지095.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    position: relative;
    bottom: 190px;
    left: 820px;
  }

  section>.two>h4:nth-of-type(4){
    background-image: url(./../images/이미지097.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    position: relative;
    bottom: 350px;
    left: 1290px;
  }
  
  section>.two>p:nth-of-type(4){
    background-image: url(./../images/이미지098.png);
    
    width: 85px;
    height: 85px;
    position: relative;
    bottom: 320px;
    left: 1300px;
   }

   section>#go_world{
  

   }
   footer{
     height: 400px;
   }
   footer>ol:nth-of-type(1){
     display: flex;
     position: relative;
     top: 20px;
     left: 400px;
   }
   footer>ol{}
   footer>ol>li{
     font-weight: 800;
     
     padding-right: 20px;
   }
   footer>ol>li:nth-of-type(4){
     text-decoration: underline;
  
   }
   footer>ol.foot>li>a{
     color: #000;
   }
   footer>ol.foot>li:nth-of-type(4)>a{
    color: green;
  }
   footer>ul{
     position: relative;
     left: 1000px;
     top: 40px;
  
   }
   footer>ul>li>span>#go_world{
    position: relative;
    left: 250px;
    bottom: 30px;
 
  }
   footer>ol:nth-of-type(2)>li{}
   footer>ol:nth-of-type(2)>li{}
   footer>ol:nth-of-type(2)>li{}
   footer>ol:nth-of-type(2)>li{}
   footer>ol:nth-of-type(2)>li>a{}
   footer>ol:nth-of-type(2)>li>a{}
   footer>ol:nth-of-type(2)>li>a{}
   footer>ol:nth-of-type(2)>li>a{}
   footer>ol:nth-of-type(2)>li>a{}
   footer>ol>li{}
   footer>ol>li{}
   footer>ol>li{}
   footer>ol>li>a{}
   footer>ol>li>a{}
   footer>ol>li>a{}
   footer>ol>li>a{}
   footer>ol>li>a{}
   footer>ol>li>a{}
   footer>ol>li>a{}
   footer>address{
     position: relative;
    top: 50px;
     left: 400px;
   }
   footer{}
   footer{}
   footer{}
   footer{}
/*# sourceMappingURL=style.css.map */